body
{
  margin: 0;
  padding: 0;
  background: url(wallpaper1.jpg);
  /*background: url("/static/wallpaper1.jpg");*/
  background-size: cover;
  font-family: sans-serif;
}
.title
{
 text-align: center;
 padding: 50px 0 20px;
}
.title h1
{
  margin: 0;
  padding: 0;
  color: #262626;
  text-transform: uppercase;
  font-size: 40px;‎
}
.container
{
 width: 50%;
 height: 550px;
 background: #fff;
 margin: 0 auto;
 border: 2px solid #fff; 
 box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.container .left
{
float: left;
width: 50%;
height: 550px;
background: url(bodyBg.jpg);
background-size: cover;
box-sizing: border-box;
}
.container .right
{
float: right;
width: 50%;
height: 700px;
box-sizing: border-box;
}
.formBox
{
  width: 100%;
  padding: 80px 20px;
  box-sizing: border-box;
  height: 550px;
  background: #fff;
}
.formBox p
{
  margin: 5px;
  padding: 2px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #1E0697;
}
.formBox input
{
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
}
.formBox input[type="text"],
.formBox input[type="Password"]
{
  border: none;
  border-bottom: 2px solid #a6af13;
  outline: none;
  font-size: 20px;
  height: 50px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus
{
  border-bottom: 2px solid #262626;
}
.formBox input[type="submit"]
{
  border: none;
  outline: none;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background: #EA1504;
  cursor: pointer;
}
.formBox input[type="submit"]:hover
{
  background: #0DBD04;
}
.formBox a
{
  color: #8A058C;
  font-size: 18px;
  font-weight: bold;
}