
<!DOCTYPE html>
<html>
<head>
    <title>DMCE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <!link rel="stylesheet" href="homestyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <body style="background: url(/static/css/img.jpg);background-size: cover;"></body>
<div class="wrapper">
        
        <div class="header">
        <!-- should be within <div class="header"> -->
<div class="row">
    <div style="background-color:#030C5E  ;text-align:right;height:50px;font-size: 30px;text-decoration-color:#FBFDFD ">
<a href="{{ url_for('search') }}" target="_blank">Webmail Login</a> &vert;
<a href="{{ url_for('erplogin') }}" target="_blank" >ERP Login</a>
</div>
    <div class="columns large-12  header-inner">
        <div class="logo"><a href="index.php"><img src="/newdmcewebsite/images/newlogodmce.jpg" alt=""></a><!--<b><font color="#007ebf" size="6px">DATTA MEGHE COLLEGE OF ENGINEERING</font></b> -->
        </div>
    </div>
<div class="title"><h1> DATTA MEGHE COLLEGE OF ENGINEERING, AIROLI</div>
<div class="menu-bar">
    
<ul>
    <li class="active"><a href="#"> Home </a></li>
    <li><a href="#">About Us  </a>
       <div class="sub-menu-1">
        <ul>
            <li><a href="#">About DMCE</a></li>
            <li><a href="#">Our Vision & Mission</a></li>
            <li><a href="#">Board of Governors</a></li>
            <li><a href="#">From Principal's Desk</a></li>
            <li><a href="#">Mandatory Disclosure</a></li>
            <li><a href="#">AICTE-EOA</a></li>  
        </ul>
       </div>
    </li>
    <li><a href="#">Admissions </a>
       <div class="sub-menu-1">
        <ul>
            <li><a href="#">Under Graduation (B.E) </a></li>
            <li><a href="#">Post Graduation (M.E) </a></li>
            <li><a href="#">Doctorate Admissions (ph.D) </a></li>   
        </ul>
       </div>
    </li>
    <li><a href="#">Departments </a>
         <div class="sub-menu-1">
        <ul>
            <li><a href="#">Civil Engineering</a></li>
            <li><a href="#">Electronics Engineering</a></li>
            <li><a href="#">Computer Engineering</a></li>
            <li><a href="#">Mechanical Engineering</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Chemical Engineering</a></li>
            <li><a href="#">Library</a></li>
            <li><a href="#">Humanities & Sciences</a></li>          
        </ul>
       </div>
    </li>
    <li><a href="#">Campus </a>
        <div class="sub-menu-1">
        <ul>
            <li><a href="#">About Campus</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">E-Cell</a></li>
            <li><a href="#">Women's Development Cell</a></li>
            <li><a href="#">Alumni Cell</a></li>
            <li><a href="#">IPR Cell</a></li>
            <li><a href="#">ERP </a></li>
            <li><a href="#">Hackethon</a></li>          
        </ul>
       </div>
    </li>
    <li><a href="#">Placement </a></li>
    <li><a href="#">NAAC & AQAR </a></li>
</ul>
</div>    
</body>
</html>
