<!DOCTYPE html>
<html>
<head>
<title>Form</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Vpge.css') }}">

</head>
<body> 
   <!link rel="stylesheet" type="text/css" href="QVpge.css">
<form action="com1" method="POST">
        <div class="inner_wrapper">
<h1> Communication Skills</h1>
        <p><br>Any Competitions Participated earlier?</br></p>
        <select>
            <option value="Elocution">Elocution Competition</option>
            <option value="Essay">Essay Writings</option>
            <option value="Others">Others</option>
            <option value="No">No</option>
        </select>
        <p><input type="text" name=""placeholder="Mention your Achievement's Results"></p>
        If Yes,Select a file: <input type="file" name="myFile">
        <h4>Any Commitee Membership</h4>
        <input type="radio" name="comit" value="Yes">Yes<br>
        <input type="radio" name="comit" value="No">No<br>
        
         If Yes,Select a file: <input type="file" name="myFile">
            
         <p><input type="submit"></p>


</h2>
     </div>
 </form>
    </body>
    </html>