<!DOCTYPE html>
<html>
<head>
	<title>ERP Login</title>
</head>
<body>


<table>
    <h3>Total companies {{total}}</h3>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <td>
            
                {{ row_ }}
           
        </td>
        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>
</body>
</html>
