<!DOCTYPE html>
<html>
<head>
	<title>Add Details</title>
</head>
<body>
	<form action="sendto" method="POST">
<h2>Fill Up Form</h2>
<center>
	<h4>Recruited status</h4>
<input type="radio" name="yes" value="Yes">Yes<br>
<input type="radio" name="yes" value="No">No<br>
<h4>Select Company placed in</h4>
<select id="comp" name="comp">
	<option value="TCS">TCS</option>
	<option value="LTI">LTI</option>
	<option value="CMS">CMS</option>
	<option value="Seclore">Seclore</option>
	<option value="Ingram">Ingram</option>
	<option value="Infosys">Infosys</option>
	<option value="Capgemini">Capgemini</option>
	<option value="Reliance Jio">Reliance Jio</option>
	<option value="Rave Technologies">Rave Technologies</option>
	<option value="Ugam">Ugam</option>
</select>
<br>
<input type="submit">
</center>
</body>
</html>